.button {
  height: 64px;
  padding: 19px 24px;
  background-color: var(--color-yellow);
  font-family: "Lato", sans-serif;
  font-style: italic;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  color: var(--color-black);
  display: inline-block;
  transition: 0.2s all;
  text-transform: uppercase;
  cursor: pointer;
}

.button:hover,
.button:active,
.button:focus {
  background-color: var(--color-yellow-dark);
}

.button.button_block {
  display: block;
  width: 100%;
}

.button.is-loading {
  pointer-events: none;
}

.button.is-loading:after {
  content: "";
  width: 24px;
  height: 24px;
  margin-left: 12px;
  position: relative;
  background: url(/assets/images/icons/loader-icon-sm.svg) center no-repeat;
  background-size: cover;
  vertical-align: bottom;
  display: inline-block;
  animation: loadingSpinner 1s infinite linear;
}

.btn-group {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
}

.btn-group__button {
  position: relative;
}

@media all and (max-width: 767px) {
  .btn-group {
    display: flex;
  }

  .btn-group__button {
    flex-grow: 1;
  }
}
